body {
  background: #fff;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #333; }

h1, h2, h3 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.5em;
  font-weight: 700; }

h2 {
  font-size: 1.2em;
  font-weight: 400; }

h3 {
  font-size: 1.1em;
  font-weight: 300; }

.kn-form {
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  background-color: rgba(147, 128, 108, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }
  .kn-form input, .kn-form textarea {
    background-color: #fff;
    border: 1px solid #93806C; }
    .kn-form input:focus, .kn-form textarea:focus {
      outline: none;
      border: 1px solid #2e8b57; }
  .kn-form > div {
    padding: 10px 0 0; }
  .kn-form input.error, .kn-form textarea.error {
    background-color: rgba(255, 0, 0, 0.1); }
  .kn-form .hide {
    display: none; }
  .kn-form .message {
    color: red;
    font-weight: 300;
    font-size: 0.8em; }
  .kn-form h3, .kn-form .kn-form-text, .kn-form .kn-form-create-submit, .kn-form .kn-form-input, .kn-form .kn-form-rating, .kn-form .kn-form-checkbox {
    flex: 0 0 100%; }
  .kn-form .kn-form-time label, .kn-form .kn-form-input label, .kn-form .kn-form-text label {
    display: none; }
  .kn-form .kn-form-date {
    margin-right: 10px; }
  .kn-form .kn-form-date, .kn-form .kn-form-rating, .kn-form .kn-form-checkbox {
    display: flex;
    flex-flow: row;
    align-items: center; }
    .kn-form .kn-form-date label, .kn-form .kn-form-rating label, .kn-form .kn-form-checkbox label {
      flex: 0 0 100px; }
    .kn-form .kn-form-date input, .kn-form .kn-form-rating input, .kn-form .kn-form-checkbox input {
      width: 225px; }
  .kn-form .kn-form-input, .kn-form .kn-form-text {
    display: flex;
    flex-flow: column; }
    .kn-form .kn-form-input input, .kn-form .kn-form-input textarea, .kn-form .kn-form-text input, .kn-form .kn-form-text textarea {
      padding: 5px; }
    .kn-form .kn-form-input textarea, .kn-form .kn-form-text textarea {
      height: 100px; }
  .kn-form .kn-form-actions {
    flex: 0 0 100%;
    display: flex;
    flex-flow: column; }
    .kn-form .kn-form-actions a {
      flex: 0 0 100%;
      text-align: center; }
    .kn-form .kn-form-actions a:not(:last-child) {
      margin-bottom: 5px; }
  .kn-form .kn-rating {
    cursor: pointer;
    color: #999999;
    color: rgba(51, 51, 51, 0.5); }
    .kn-form .kn-rating .active {
      color: #333; }

.button-first, .kn-sort ul > li:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.button-last, .kn-sort ul > li:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.button-link {
  padding: 5px 10px;
  background-color: rgba(147, 128, 108, 0.5);
  font-weight: 300;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  transition-duration: 0.33s; }
  .button-link:hover, .button-link:focus {
    background-color: rgba(147, 128, 108, 0.75);
    cursor: pointer;
    outline: none; }
  .button-link.active {
    background-color: rgba(46, 139, 87, 0.75); }
  .button-link.disabled, .button-link.disabled:hover {
    cursor: not-allowed !important;
    background-color: rgba(147, 128, 108, 0.25) !important; }
  .button-link.delete {
    background-color: rgba(255, 0, 0, 0.5); }
    .button-link.delete:hover {
      background-color: rgba(255, 0, 0, 0.75); }

.kn-note .disabled, .kn-note .disabled:hover {
  cursor: not-allowed !important; }

body {
  min-height: 100vh;
  min-width: 610px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; }

main {
  flex: 1; }

header {
  padding: 25px 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: rgba(147, 128, 108, 0.1); }
  header .kn-header-titles {
    order: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline; }
    header .kn-header-titles h1, header .kn-header-titles h2 {
      margin: 0 10px 0 0;
      padding: 0;
      color: #999999;
      color: rgba(51, 51, 51, 0.5); }
    header .kn-header-titles h1 {
      text-transform: capitalize;
      font-size: 1.5em; }
    header .kn-header-titles h2 {
      font-size: 1.2em;
      font-weight: 300;
      text-transform: lowercase; }
  header .kn-header-actions {
    text-align: right;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    display: flex; }

footer {
  padding: 25px 50px;
  background-color: rgba(147, 128, 108, 0.33); }

.kn-notes-actions {
  padding: 10px 50px 0;
  display: flex;
  align-items: center; }

.kn-filter {
  flex: 1;
  text-align: right; }
  .kn-filter .button-link {
    position: relative;
    top: -2px; }

.kn-form-create {
  margin: 0 50px 25px; }

.kn-view {
  margin: 25px 50px; }

.kn-sort ul {
  display: flex;
  list-style-type: none;
  margin: 0 10px;
  padding: 0; }
  .kn-sort ul > li:not(:first-child):not(:last-child) {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }

.kn-form-edit .kn-form-edit-title {
  margin-top: -5px; }

.kn-view h2 {
  margin-bottom: 10px;
  font-size: 1.2em; }
.kn-view h3 {
  margin-bottom: 5px;
  display: flex;
  align-items: center; }
  .kn-view h3 .kn-note-importance {
    text-align: right;
    color: #333; }
    .kn-view h3 .kn-note-importance.importance-0 {
      opacity: 0; }
    .kn-view h3 .kn-note-importance.importance-1 {
      opacity: 0.2; }
    .kn-view h3 .kn-note-importance.importance-2 {
      opacity: 0.4; }
    .kn-view h3 .kn-note-importance.importance-3 {
      opacity: 0.6; }
    .kn-view h3 .kn-note-importance.importance-4 {
      opacity: 0.8; }
    .kn-view h3 .kn-note-importance.importance-5 {
      opacity: 1; }
  .kn-view h3 .kn-note-title {
    flex: 1; }
  .kn-view h3 .kn-note-state {
    flex: 0 0 25px;
    text-align: left; }
    .kn-view h3 .kn-note-state:hover {
      cursor: pointer; }
.kn-view article {
  display: flex;
  flex-flow: row wrap; }
.kn-view .kn-note {
  margin-bottom: 25px; }
.kn-view .kn-note-title {
  flex: 0 0 100%; }
.kn-view .kn-note-info {
  flex: 0 0 150px; }
  .kn-view .kn-note-info ul {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    font-weight: 300;
    font-size: 0.8em; }
    .kn-view .kn-note-info ul li {
      display: flex;
      align-items: baseline; }
      .kn-view .kn-note-info ul li em {
        flex: 0 0 20px;
        text-align: left; }
      .kn-view .kn-note-info ul li:not(:last-child) {
        padding-bottom: 10px; }
.kn-view .finished-false .kn-note-info ul {
  background-color: rgba(147, 128, 108, 0.5); }
.kn-view .finished-true .kn-note-info ul {
  background-color: rgba(46, 139, 87, 0.5); }
.kn-view .kn-note-text {
  padding: 0 10px;
  flex: 1; }
.kn-view .kn-note-actions {
  flex: 0 0 100px;
  justify-content: flex-end;
  text-align: right; }
.kn-view .kn-note-description {
  margin: 0;
  font-weight: 300;
  font-size: 0.8em; }

.kn-form-create {
  display: none;
  margin-top: 10px; }
  .kn-form-create .kn-form-create-finished {
    display: none; }

.kn-filter .kn-filter-finished label {
  cursor: pointer; }
.kn-filter .kn-filter-finished input {
  display: none; }

.kn-style-picker {
  margin-right: 25px; }
  .kn-style-picker select {
    height: 25px;
    padding: 0;
    background: rgba(147, 128, 108, 0.5);
    border: 0;
    color: #fff;
    font-weight: 300;
    font-size: 0.8em; }
    .kn-style-picker select:focus {
      background: rgba(147, 128, 108, 0.75);
      outline: none; }
  .kn-style-picker label {
    display: none; }

.kn-log {
  font-weight: 300;
  font-size: 0.8em;
  min-height: 25px; }
  .kn-log .kn-log-message {
    display: none;
    padding: 5px 50px; }
  .kn-log .level-10 {
    background-color: rgba(0, 0, 255, 0.1); }
  .kn-log .level-20 {
    background-color: rgba(0, 128, 0, 0.1); }
  .kn-log .level-30 {
    background-color: rgba(255, 255, 0, 0.1); }
  .kn-log .level-40 {
    background-color: rgba(255, 0, 0, 0.1); }

/*# sourceMappingURL=main.css.map */
