// Module: Sort
.kn-sort {
  ul {
    display:flex;

    list-style-type: none;

    margin: 0 $defaultNarrowSpacing;
    padding: 0;

    >li {

      &:first-child {
        @extend .button-first
      }
      &:last-child {
        @extend .button-last
      }

      &:not(:first-child):not(:last-child) {
        @include border-radius(0);
      }
    }
  }
}