// Module: Sort
#sort-container {
  li {
    cursor:pointer;
  }

  .active {
    &:after {
      content: ' *';
    }
  }

  .disabled {
    cursor: not-allowed;
    &:after {
      content: ' ⚠';
    }
  }
}