// Module: stylepicker

.kn-style-picker {
  margin-right: $defaultNormalSpacing;

  select {
    height: 28px;

    background: $buttonBackgroundColor;

    border: 0;

    color: $buttonForegroundColor;
    @include smallFont;

    &:focus {
      background: $buttonBackgroundColorHover;
      outline: none;
    }
  }
}