.kn-view {

  h2 {
    margin-bottom: 10px;

    font-size: 1.2em;
  }

  h3 {
    margin-bottom: 5px;

    display: flex;
    align-items: center;

    font-size: 1.2em;
    font-weight: 300;

    .kn-note-importance {
      flex: 1;
      text-align: right;
    }

    .kn-note-title {
      flex: 1;
    }

    .kn-note-state {
      margin-right: $defaultNarrowSpacing;
      text-align: left;
    }
  }

  article {
    display:flex;
    flex-flow: row wrap;
  }

  .kn-note {
    margin-bottom: $defaultNormalSpacing;
  }

  .kn-note-title {
    flex: 0 0 100%
  }

  .kn-note-info {
    ul {
      margin: 0;
      padding: $defaultNarrowSpacing;

      flex: 0 0 175px;

      list-style-type: none;

      @include border-radius($defaultRadius);

      font-size: $smallerFontSize;
    }
  }

  .finished-false .kn-note-info ul {
    @include alpha-attribute('background-color', rgba($highlightColor, 0.1), white);
  }

  .finished-true .kn-note-info ul {
    @include alpha-attribute('background-color', rgba($highlightColor2, 0.1), white);
  }

  .kn-note-text {
    padding: 0 $defaultNarrowSpacing;
    flex: 1;
  }

  .kn-note-actions {
    flex: 0 0 100px;
    justify-content: flex-end;


    text-align: right;
  }
}