.kn-log {

  @include smallFont;
  min-height: $defaultNormalSpacing;

  .kn-log-message {
    display:none;
    padding: ($defaultNarrowSpacing / 2) $defaultWideSpacing;
  }
  .level-10 {
    background-color: $infoColor;
  }

  .level-20 {
    background-color: $successColor;
  }

  .level-30 {
    background-color: $warningColor;
  }

  .level-40 {
    background-color: $errorColor;
  }
}