<div class="kn-form">
    <h3>Create new note</h3>
    {{#each formElements}}
        {{formElement .}}
    {{/each}}
    <div class="kn-form-actions">
        <a id="create-submit" class="button-link"><em class="fa fa-floppy-o"></em> save</a>
    </div>
</div>