body {
  background: $mainBackgroundColor;

  font-family: $mainFont;
  color: $mainForegroundColor;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $heading1FontSize;
  font-weight: $heading1Weight;
}

h2 {
  font-size: $heading2FontSize;
  font-weight: $heading2Weight;
}

h3 {
  font-size: $heading3FontSize;
  font-weight: $heading3Weight;
}

.kn-form {
  padding: $defaultNarrowSpacing;

  display: flex;
  flex-flow: row wrap;

  background-color: $formBackgroundColor;
  @include border-radius($defaultRadius);

  input, textarea {
    background-color: $mainBackgroundColor;
  }

  >div {
    padding: $defaultNarrowSpacing 0 0;
  }

  h3, .kn-form-text, .kn-form-create-submit, .kn-form-input, .kn-form-rating, .kn-form-checkbox {
    flex: 0 0 100%;
  }

  .kn-form-time, .kn-form-input, .kn-form-text {
    label {
      display:none;
    }
  }

  .kn-form-date, .kn-form-rating, .kn-form-checkbox {
    display: flex;
    flex-flow: row;
    align-items: center;

    label {
      flex: 0 0 100px;
    }
    input {
      width: 225px;
    }
  }

  .kn-form-input, .kn-form-text {
    display: flex;
    flex-flow: column;

    input, textarea {
      padding: 5px;
    }

    // temporary by jule_
    input.error {
      background-color: red;
    }
    .hide {
      display: none;
    }
    .message {
      color: deeppink;
    }

    textarea {
      height: 100px;
    }
  }

  .kn-form-actions {

    flex: 0 0 100%;

    display: flex;
    flex-flow: column;

    a {
      flex: 0 0 100%;
      text-align: center
    }
    a:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .kn-rating {
    cursor: pointer;
    @include alpha-attribute('color', rgba($importanceColor, 0.5), white);
    .active {
      color: $importanceColor;
    }
  }
}





.button-first {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-last {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-link {

  padding: ($defaultNarrowSpacing / 2) $defaultNarrowSpacing;

  background-color: $buttonBackgroundColor;

  @include smallFont;
  color: $buttonForegroundColor;
  text-decoration: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  @include border-radius($defaultRadius);

  transition-duration: 0.33s;

  &:hover, &:focus {
    background-color: $buttonBackgroundColorHover;
    cursor: pointer;
    outline: none;

  }

  &.active {
    background-color: $buttonBackgroundColorActive;
  }

  &.disabled, &.disabled:hover {
    cursor: not-allowed !important;
    background-color: $buttonBackgroundColorDisabled;
  }

  &.delete {
    background-color: $buttonBackgroundColorDelete;

    &:hover {
      background-color: $buttonBackgroundColorDeleteHover;
    }
  }
}
