//Mixins

@mixin border-radius($radius: $defaultRadius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin alpha-attribute($attribute, $color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  #{$attribute}: $solid-color;
  #{$attribute}: $color;
}

@mixin smallFont($fontSize: $smallFontSize, $fontWeight: 300) {
  font-weight: $fontWeight;
  font-size: $fontSize;
}